<div class="container">
    <form class="form-inline" ng-submit="ctrl.submit()">

        <div class="form-group">
        <select ng-model="ctrl.body.selectvalue" ng-options="item for item in ctrl.body.values"></select>
        </div>

        <div class="form-group">
            <label>PIN</label>
            <input class="form-control" ng-change="ctrl.log()" type="number" ng-model="ctrl.body.pin">
        </div>

        <div class="form-group">
        <label>Card Type</label>
        <input class="form-control" type="number" ng-model="ctrl.body.cardtype">
        </div>

        <div class="form-group">
        <label>Start Date</label>
        <input class="form-control" type="date" ng-model="ctrl.body.startdate">
        </div>

        <div class="form-group">
        <label>End Date</label>
        <input class="form-control" type="date" ng-model="ctrl.body.enddate">
        </div>

        <div class="form-group">
        <label>Info</label>
        <input class="form-control" type="text" ng-model="ctrl.body.info1">
        </div>

        <div class="form-group">
        <label>Info2</label>
        <input class="form-control" type="text" ng-model="ctrl.body.info2">
        <input type="submit">
        </div>
.


    </form>

    <p> 1.  {{ctrl.body.selectvalue}} </p>
    <p> 2.  {{ctrl.body.pin}} </p>
    <p> 3.  {{ctrl.body.cardtype}} </p>
    <p> 4.  {{ctrl.body.startdate}} </p>
    <p> 5.  {{ctrl.body.enddate}} </p>
    <p> 6.  {{ctrl.body.info1}} </p>
    <p> 7.  {{ctrl.body.info2}} </p>




</div>

