    <div class="tab-content col-md-3 col-lg-2">
        <a href="#/A/A1" class="btn btn-default">Card Details</a>
        <a href="#/A/A2" class="btn btn-default">Vaild PIN</a>
        <a href="#/A/A3" class="btn btn-default">SideNav A3</a>
    </div>

    <div class="tab-content col-md-9 col-lg-10">
        <ui-view></ui-view>
    </div>











