<div>
    <div class="tab-content sidebar-nav col-md-3 col-lg-2">
        <a ui-sref=".B1" class="btn btn-default">Basic Rate</a>
        <a ui-sref=".B2" class="btn btn-default">SideNav B2</a>
        <a ui-sref=".B3" class="btn btn-default">SideNav B3</a>
        <a ui-sref=".B4" class="btn btn-default">SideNav B4</a>
    </div>

    <div class="tab-content col-md-9 col-lg-10">
        <ui-view></ui-view>
    </div>
</div>