<div class="tab-content sidebar-nav col-md-3 col-lg-2">
        <a href="#/C/C1" class="btn btn-default">SideNav C1</a>
        <a href="#/C/C2" class="btn btn-default">SideNav C2</a>
        <a href="#/C/C3" class="btn btn-default">SideNav C3</a>
</div>

<div class="tab-content col-md-9 col-lg-10">
    <ui-view></ui-view>
</div>