    <form class="form-inline" ng-submit="ctrl.submit()">

        <div class="form-group">
            <label>Card Type</label>
            <input class="form-control" type="text" ng-model="ctrl.body.int_CardTypeID">
        </div>

        <div class="form-group">
        <label>Product No</label>
        <input class="form-control" type="text" ng-model="ctrl.body.vc_ProductNo">
        </div>

        <div class="form-group">
        <label>Agent No</label>
        <input class="form-control" type="text" ng-model="ctrl.body.vc_Agent">
        <input type="submit">
        </div>
    </form>
   <div>
       <hr>
       <table class="table table-striped" ng-show="ctrl.result">
           <thead>
           <tr>
               <th>Card Type</th>
               <th>Product Number</th>
               <th>Agent Number</th>
           </tr>
           <tbody>
           <tr ng-repeat="i in ctrl.result">
                <td>{{i.int_CardTypeID}}</td>
                <td>{{i.vc_ProductNo}}</td>
                <td>{{i.vc_Agent}}</td>
           </tr>
           </tbody>
          </thead>
       </table>
    </div>


